{
    "presets": [
      "env",
      "stage-2"
    ],
    "plugins": [
      "transform-class-properties",
      "transform-object-rest-spread",
      "syntax-dynamic-import"
    ],
    "env": {
      "production": {
        "plugins": ["transform-runtime"]
      }
    }
  }
  